.cardparent1
{
   border-radius: 1.5em;
    border: 1px solid #FFC857;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    /* position: absolute; */
    transition: all 0.2s ease-in;
}

.cardTitle
{
    height: 27%;
    padding-left: 4%;
    padding-right: 1%;
    font-size: 1.5em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    color: #ffd073;
    justify-content:space-between;
    /* border: 2px solid pink; */
}
.cardgithublogo{
    max-width: 100%;
}
.cardgithublogo:hover
{
    cursor: pointer;
}
.githublogo
{
    height: 47px;
    border-radius: 100%;
}
.cardName
{
    font-size: 0.8em;
}
@media screen and (max-width: 500px)
{
    .cardparent1
    {
        margin-left: 0px;
        margin-right: 0px;
    }
}
.cardTechStack
{
    /* border: 2px solid brown; */
    height: 15%;
    font-size: 70%;
    font-style: italic;
    word-wrap: break-word;
   display: flex;
   color: #f1d7a3;
    overflow: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cardDescription
{
    display: flex;
    overflow: auto;
    height: 58%;
    vertical-align: middle;
}
.carddesc
{
    font-size: 0.8em;
    text-align: center;
    overflow: auto;  
    margin-top: 5%;
    color: #D0D7E1;
    /* height:30px;   */
}
.cardparent1:hover
{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(250, 225, 168, 0.953);
    top: -4px;
    transform: scale(1.1);
    z-index: 0;
}
@media screen and (max-width: 1000px)
{
    .cardTechStack
    {
        font-size: 70%;
    }
}
@media screen and (max-width: 270px)
{
    .cardTitle
    {
        font-size: 70%;
        height: 20%;
    }
    .githublogo
    {
        width: 70%;
        height: 70%;
    }
    .cardTechStack
    {
       display: block;
       overflow: auto;
       font-size: 50%;
       height: 20%;
    }
    .carddesc
    {
       font-size: 70%;
       top: auto;
       margin-top: 5%;
       /* display: flex; 
        align-items: center;
       vertical-align: middle; */
      
    }

}